---
layout: default
---

<div class="ma4 ma5-ns">
  <h1>Posts</h1>
  <div class="fl w-100-l pa3 pl1-ns pl1 mb6">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2 class="b" id="y{{post.date | date: '%Y'}}">{{ currentdate }}</h2>
        <ul class="list pa0">
        {% assign date = currentdate %}
      {% endif %}
        <li class="mb4-l mb5">
          <span class="ttu tracked fw7 mr2 mb2 grey o-50 db-l dn">{{ post.date | date_to_long_string }}</span>
          <a href="{{ post.url }}" class="f3 fw3 bb bw1 blue link hover-red">{{ post.title }}</a>
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>

</div>